<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
  <mat-card fxFlex="30%" class="card-jugador">
      <mat-card-title style="text-align: center;">Crear jugador</mat-card-title>

      <mat-card-content fxLayout="column">
          <mat-form-field>
              <input matInput
                    placeholder="Nombre jugador"
                    [(ngModel)]="jugador.nombreJugador"
                    required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Posición</mat-label>
            <mat-select
            [(ngModel)]="jugador.idTipoJugador"
            required>
                <mat-option *ngFor="let tipoJugador of tipoJugadores"
                            [value]="tipoJugador.idTipoJugador">
                    {{ tipoJugador.nombreTipoJugador }}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </mat-card-content>

      <button mat-raised-button color="primary" [disabled]="!jugador.nombreJugador || jugador.idTipoJugador == 0" (click)="guardarJugador()">Guardar</button>
  </mat-card>
</div>
