<div style="margin-top: 14px; text-align: center;">
  <h1>Selección equipos</h1>
  <mat-divider></mat-divider>
  <br>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="contenedorTabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [width]="700">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="jugadoresSeleccionados.hasValue() && isAllSelected()"
                        [indeterminate]="jugadoresSeleccionados.hasValue() && !isAllSelected()"
                        color="primary">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let jugador">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? jugadoresSeleccionados.toggle(jugador) : null"
                        [checked]="jugadoresSeleccionados.isSelected(jugador)"
                        color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="idJugador">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let jugador"> {{jugador.idJugador}} </td>
      </ng-container>

      <ng-container matColumnDef="nombreJugador">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let jugador"> {{jugador.nombreJugador}} </td>
      </ng-container>

      <ng-container matColumnDef="nombreTipoJugador">
        <th mat-header-cell *matHeaderCellDef> Posición </th>
        <td mat-cell *matCellDef="let jugador"> {{jugador.tipoJugador.nombreTipoJugador}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="jugadoresSeleccionados.toggle(row)">
      </tr>
    </table>
  </div>
</div>

<app-boton-flotante nombreIconoBoton="sports_soccer" (presionarBoton)="seleccionarEquipos()"></app-boton-flotante>
