<div style="margin-top: 14px; text-align: center;">
  <h1>Selección equipos</h1>
  <mat-divider></mat-divider>
  <br>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="table">
  <div>
    <h1 class="encabezadoEquipo">Equipo 1</h1>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [width]="270">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
<div style="margin-left: 30px;">
  <h1 class="encabezadoEquipo">Equipo 2</h1>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [width]="300">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
 </div>
</div>

<app-boton-flotante nombreIconoBoton="keyboard_return" (presionarBoton)="Devolver()"></app-boton-flotante>
